<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Dashboard video</h1>
        <div class="form-group row col-sm-6">
            <div class="col-sm-9">
                <input type="text" ng-model="searchValue" class="form-control" placeholder="Part of name or date">
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" ng-click="search()">Search</a>
            </div>
        </div>
        <div class="form-group row col-sm-6">
            <div class="col-sm-3">
                <a class="btn btn-primary" ui-sref=".addForm">
                    Add New
                </a>
            </div>
        </div>
    </div>
</div>